# Data imputation

This dataset has been downloaded from  Kaggle https://www.kaggle.com/karangadiya/fifa19. License: [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/)

In this notebook we will do data processing for the dataset, imputing values that are missing based on present data.

## Step 1: Import libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, minmax_scale, scale

import matplotlib.pyplot as plt
import seaborn as sns
import bokeh as bk

## Step 2: Load data

First, we define where our data is and where we will store the imputated file

In [2]:
DATA = "../Data"
INPUT_FILE_NAME = f"{DATA}/FootballPlayerRawDataset.csv"

ATT_FILE_NAME = f"{DATA}/FootballPlayerPreparedCleanAttributes.csv"
IMPUTED_ATT_FILE_NAME = f"{DATA}/ImputedFootballPlayerPreparedCleanAttributes.csv"

ONE_HOT_ENCODED_CLASSES_FILE_NAME = f"{DATA}/FootballPlayerOneHotEncodedClasses.csv"
IMPUTED_ONE_HOT_ENCODED_CLASSES_FILE_NAME = f"{DATA}/ImputedFootballPlayerOneHotEncodedClasses.csv"

Now we load the data and show its info

In [3]:
dataset = pd.read_csv(INPUT_FILE_NAME, sep=",")

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Photo                     18207 non-null  object
 5   Nationality               18207 non-null  object
 6   Flag                      18207 non-null  object
 7   Overall                   18207 non-null  int64
 8   Potential                 18207 non-null  int64
 9   Club                      17966 non-null  object
 10  Club Logo                 18207 non-null  object
 11  Value                     18207 non-null  object
 12  Wage                      18207 non-null  object
 13  Special                   18207 non-null  int64
 14  Preferred Foot            18159 non-null  object
 15  International Reputation  18159 non-null  float64
 16  Weak Foot                 18159 non-null  float64
 17  Skill Moves               18159 non-null  float64
 18  Work Rate                 18159 non-null  object
 19  Body Type                 18159 non-null  object
 20  Real Face                 18159 non-null  object
 21  Position                  18147 non-null  object
 22  Jersey Number             18147 non-null  float64
 23  Joined                    16654 non-null  object
 24  Loaned From               1264 non-null   object
 25  Contract Valid Until      17918 non-null  object
 26  Height                    18159 non-null  object
 27  Weight                    18159 non-null  object
 28  LS                        16122 non-null  object
 29  ST                        16122 non-null  object
 30  RS                        16122 non-null  object
 31  LW                        16122 non-null  object
 32  LF                        16122 non-null  object
 33  CF                        16122 non-null  object
 34  RF                        16122 non-null  object
 35  RW                        16122 non-null  object
 36  LAM                       16122 non-null  object
 37  CAM                       16122 non-null  object
 38  RAM                       16122 non-null  object
 39  LM                        16122 non-null  object
 40  LCM                       16122 non-null  object
 41  CM                        16122 non-null  object
 42  RCM                       16122 non-null  object
 43  RM                        16122 non-null  object
 44  LWB                       16122 non-null  object
 45  LDM                       16122 non-null  object
 46  CDM                       16122 non-null  object
 47  RDM                       16122 non-null  object
 48  RWB                       16122 non-null  object
 49  LB                        16122 non-null  object
 50  LCB                       16122 non-null  object
 51  CB                        16122 non-null  object
 52  RCB                       16122 non-null  object
 53  RB                        16122 non-null  object
 54  Crossing                  18159 non-null  float64
 55  Finishing                 18159 non-null  float64
 56  HeadingAccuracy           18159 non-null  float64
 57  ShortPassing              18159 non-null  float64
 58  Volleys                   18159 non-null  float64
 59  Dribbling                 18159 non-null  float64
 60  Curve                     18159 non-null  float64
 61  FKAccuracy                18159 non-null  float64
 62  LongPassing               18159 non-null  float64
 63  BallControl               18159 non-null  float64
 64  Acceleration              18159 non-null  float64
 65  SprintSpeed               18159 non-null  float64
 66  Agility                   18159 non-null  float64
 67  Reactions                 18159 non-null  float64
 68  Balance                   18159 non-null  float64
 69  ShotPower                 18159 non-null  float64
 70  Jumping                   18159 non-null  float64
 71  Stamina                   18159 non-null  float64
 72  Strength                  18159 non-null  float64
 73  LongShots                 18159 non-null  float64
 74  Aggression                18159 non-null  float64
 75  Interceptions             18159 non-null  float64
 76  Positioning               18159 non-null  float64
 77  Vision                    18159 non-null  float64
 78  Penalties                 18159 non-null  float64
 79  Composure                 18159 non-null  float64
 80  Marking                   18159 non-null  float64
 81  StandingTackle            18159 non-null  float64
 82  SlidingTackle             18159 non-null  float64
 83  GKDiving                  18159 non-null  float64
 84  GKHandling                18159 non-null  float64
 85  GKKicking                 18159 non-null  float64
 86  GKPositioning             18159 non-null  float64
 87  GKReflexes                18159 non-null  float64
 88  Release Clause            16643 non-null  object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB

## Step 3: Data cleaning

We remove all goalkeepers as we will also remove the columns that represent their statistics

In [5]:
dataset.drop(dataset[dataset.Position=='GK'].index, inplace=True)

First we remove unnecesary columns that we think won't affect the overall score of a player:
- Id
- Name
- Photo
- Nationality and Flag
- Team
- Club and Club Logo
- Preferred Foot
- Work Rate
- Body Type
- Real Face
- Position
- Jersey Number
- Joined
- Loaned From
- Contract Valid Until
- Height
- Weight
- From LS to RB
- From GKDiving to GKReflexes

In [6]:
dataset.drop(dataset.loc[:, 'Unnamed: 0':'Name'].columns, inplace=True, axis = 1)
dataset.drop(dataset.loc[:, 'Photo':'Flag'].columns, inplace=True, axis = 1)
dataset.drop(dataset.loc[:, 'Club':'Club Logo'].columns, inplace=True, axis = 1)
dataset.drop(dataset.loc[:, 'Preferred Foot':'Preferred Foot'].columns, inplace=True, axis = 1)
dataset.drop(dataset.loc[:, 'Work Rate':'RB'].columns, inplace=True, axis = 1)
dataset.drop(dataset.loc[:, 'GKDiving':'GKReflexes'].columns, inplace=True, axis = 1)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16182 entries, 0 to 18206
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       16182 non-null  int64
 1   Overall                   16182 non-null  int64
 2   Potential                 16182 non-null  int64
 3   Value                     16182 non-null  object
 4   Wage                      16182 non-null  object
 5   Special                   16182 non-null  int64
 6   International Reputation  16134 non-null  float64
 7   Weak Foot                 16134 non-null  float64
 8   Skill Moves               16134 non-null  float64
 9   Crossing                  16134 non-null  float64
 10  Finishing                 16134 non-null  float64
 11  HeadingAccuracy           16134 non-null  float64
 12  ShortPassing              16134 non-null  float64
 13  Volleys                   16134 non-null  float64
 14  Dribbling                 16134 non-null  float64
 15  Curve                     16134 non-null  float64
 16  FKAccuracy                16134 non-null  float64
 17  LongPassing               16134 non-null  float64
 18  BallControl               16134 non-null  float64
 19  Acceleration              16134 non-null  float64
 20  SprintSpeed               16134 non-null  float64
 21  Agility                   16134 non-null  float64
 22  Reactions                 16134 non-null  float64
 23  Balance                   16134 non-null  float64
 24  ShotPower                 16134 non-null  float64
 25  Jumping                   16134 non-null  float64
 26  Stamina                   16134 non-null  float64
 27  Strength                  16134 non-null  float64
 28  LongShots                 16134 non-null  float64
 29  Aggression                16134 non-null  float64
 30  Interceptions             16134 non-null  float64
 31  Positioning               16134 non-null  float64
 32  Vision                    16134 non-null  float64
 33  Penalties                 16134 non-null  float64
 34  Composure                 16134 non-null  float64
 35  Marking                   16134 non-null  float64
 36  StandingTackle            16134 non-null  float64
 37  SlidingTackle             16134 non-null  float64
 38  Release Clause            14743 non-null  object
dtypes: float64(32), int64(4), object(3)
memory usage: 4.9+ MB

Now we need to take care of the columns whose DType is object

- Let's start by the **Value** column: We will remove the '€' , 'K' and 'M' characters and then change its type to float

In [8]:
dataset["Value"] = dataset["Value"].str.replace('€','')
dataset["Value"] = dataset["Value"].str.replace('M','')
dataset["Value"] = dataset["Value"].str.replace('K','')
dataset["Value"] = dataset["Value"].astype(float)

- Next column to take care of is **Wage** column: We will remove the '€' , 'K' and 'M' characters and then change its type to float

In [9]:
dataset["Wage"] = dataset["Wage"].str.replace('€','')
dataset["Wage"] = dataset["Wage"].str.replace('K','')
dataset["Wage"] = dataset["Wage"].astype(float)

- The last column that needs processing is **Release Clause**: We will remove the '€' , 'K' and 'M' characters and then change its type to float

In [10]:
dataset["Release Clause"] = dataset["Release Clause"].str.replace('€','')
dataset["Release Clause"] = dataset["Release Clause"].str.replace('M','')
dataset["Release Clause"] = dataset["Release Clause"].str.replace('K','')
dataset["Release Clause"] = dataset["Release Clause"].astype(float)

Finally let's check the dataset info after the changes

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16182 entries, 0 to 18206
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       16182 non-null  int64
 1   Overall                   16182 non-null  int64
 2   Potential                 16182 non-null  int64
 3   Value                     16182 non-null  float64
 4   Wage                      16182 non-null  float64
 5   Special                   16182 non-null  int64
 6   International Reputation  16134 non-null  float64
 7   Weak Foot                 16134 non-null  float64
 8   Skill Moves               16134 non-null  float64
 9   Crossing                  16134 non-null  float64
 10  Finishing                 16134 non-null  float64
 11  HeadingAccuracy           16134 non-null  float64
 12  ShortPassing              16134 non-null  float64
 13  Volleys                   16134 non-null  float64
 14  Dribbling                 16134 non-null  float64
 15  Curve                     16134 non-null  float64
 16  FKAccuracy                16134 non-null  float64
 17  LongPassing               16134 non-null  float64
 18  BallControl               16134 non-null  float64
 19  Acceleration              16134 non-null  float64
 20  SprintSpeed               16134 non-null  float64
 21  Agility                   16134 non-null  float64
 22  Reactions                 16134 non-null  float64
 23  Balance                   16134 non-null  float64
 24  ShotPower                 16134 non-null  float64
 25  Jumping                   16134 non-null  float64
 26  Stamina                   16134 non-null  float64
 27  Strength                  16134 non-null  float64
 28  LongShots                 16134 non-null  float64
 29  Aggression                16134 non-null  float64
 30  Interceptions             16134 non-null  float64
 31  Positioning               16134 non-null  float64
 32  Vision                    16134 non-null  float64
 33  Penalties                 16134 non-null  float64
 34  Composure                 16134 non-null  float64
 35  Marking                   16134 non-null  float64
 36  StandingTackle            16134 non-null  float64
 37  SlidingTackle             16134 non-null  float64
 38  Release Clause            14743 non-null  float64
dtypes: float64(35), int64(4)
memory usage: 4.9 MB